/*search icon style*/

.search-icon {
    background-image: url('../assets/Svg/rectangle1158.svg');
    background-repeat: no-repeat;
    background-position: right;
}


/* Slideshow */

.slideshow {
    margin: 0 auto;
    overflow: hidden;
    max-width: 500px;
}

.slideshowSlider {
    white-space: nowrap;
    transition: ease 2000ms;
}

.slide {
    display: inline-block;
    height: 400px;
    width: 100%;
    border-radius: 40px;
}

/* Buttons */

.slideshowDots {
    text-align: center;
}

.slideshowDot {
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;

    cursor: pointer;
    margin: 15px 7px 0px;

    background-color: #c4c4c4;
}

.slideshowDot.active {
    background-color: #B22222;
}
